body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #f6d365, #fda085);
    padding: 10px 20px;
    color: #000;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
}

.main-title {
    font-size: 24px;
    font-weight: bold;
}

.course-panel-title {
    font-size: 20px;
}

.admin {
    font-size: 20px;
}

.main-sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fda085;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
}

.main-sidebar.active {
    left: 0;
}

.main-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-sidebar ul li {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.course-container {
    display: flex;
    margin: 20px;
}

.course-sidebar {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.course-sidebar ul {
    list-style: none;
    padding: 0;
}

.course-sidebar ul li {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.course-sidebar ul li.active,
.course-sidebar ul li:focus,
.course-sidebar ul li:active {
    border-color: #000;
    outline: none; /* Remove default outline */
}

.main-content {
    flex: 3;
    margin-left: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.buttons button {
    background: linear-gradient(45deg, #f6d365, #fda085);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.table-container {
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    height: 50px;
    text-align: center;
}
